@using CursusAdministratie2021.Shared.CalendarHelpers
@using CursusAdministratie2021.Shared.DTO
@using CursusAdministratie2021.Shared.Interfaces
@inject ICoursesOverviewService coursesOverviewService
@inject ICalendarHelper calendarHelper
@inject NavigationManager NavigationManager

@page "/"
@page "/courses-overview"
@page "/courses-overview/{yearNumber:int}/{weekNumber:int}"
<h1>Weekoverzicht</h1>
<YearWeekToolbarComponent @bind-Year="YearNumber" @bind-Week="WeekNumber" YearWeekChanged="GetCourses"></YearWeekToolbarComponent>
<CoursesOverviewComponent Courses="Courses" ShowAttendeesButton="true" ShowEnrollButton="true"></CoursesOverviewComponent>

@code {
    [Parameter]
    public int YearNumber { get; set; }
    [Parameter]
    public int WeekNumber { get; set; }

    IEnumerable<CourseOverview> Courses;
    protected override async Task OnInitializedAsync() {
        if (YearNumber == 0 || WeekNumber == 0) {
            YearNumber = calendarHelper.GetCurrentYear();
            WeekNumber = calendarHelper.GetCurrentWeekOfYear();
            NavigationManager.NavigateTo($"/courses-overview/{YearNumber}/{WeekNumber}");
        }
        Courses = await coursesOverviewService.GetCoursesPerWeek(YearNumber,WeekNumber);
    }

    private async Task GetCourses() { 
        NavigationManager.NavigateTo($"/courses-overview/{YearNumber}/{WeekNumber}");
        Courses = await coursesOverviewService.GetCoursesPerWeek(YearNumber,WeekNumber);
    }
}
