section {
    width: max(50vw, 400px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 0;
}

    section > label {
        text-align: right;
        font-weight: bold;
    }
