@using CursusAdministratie2021.Shared.DTO
    <section class="form">
        <label class="form__label">Titel</label><span>@CourseOverview.Title</span>
        <label class="form__label">Startdatum</label><span>@CourseOverview.StartDate.ToString("dd/MM/yyyy")</span>
        <label class="form__label">Duur</label><span>@CourseOverview.Duration</span>
        <label class="form__label">Huidige Inschrijvingen</label><span>@CourseOverview.EnrollmentsCount</span>
    </section>

@code {
    [Parameter]
    public CourseOverview CourseOverview { get; set; } 
}
