@using CursusAdministratie2021.Shared.DTO
    <section>
        <label>Titel</label><span>@CourseOverview.Title</span>
        <label>Startdatum</label><span>@CourseOverview.StartDate.ToString("dd/MM/yyyy")</span>
        <label>Duur</label><span>@CourseOverview.Duration</span>
        <label>Huidige Inschrijvingen</label><span>@CourseOverview.EnrollmentsCount</span>
    </section>

@code {
    [Parameter]
    public CourseOverview CourseOverview { get; set; } 
}
