section {
    display:flex;
    margin: 1rem 0;
}
    section > button {
        flex:1;
    }
    section > label {
        flex:1;
        text-align: right;
        font-weight: bold;
        align-self:center;
    }
    section > input {
        flex: 3;
        margin: 0 5px;
    }
