.nav {
    display: flex;
    background-color: #0094ff;
    color: white;
}

.nav__list {
    flex: auto;
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.nav__list__item {
    flex:auto;
}

::deep .nav__list__item__link {
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

@media print {
    .nav {
        display:none;
    }
}