@using CursusAdministratie2021.Shared.CalendarHelpers
@inject ICalendarHelper calendarHelper

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__list__item">
            <NavLink class="nav__list__item__link" href="@($"courses-overview/{calendarHelper.GetCurrentYear()}/{calendarHelper.GetCurrentWeekOfYear()}")">
                Weekoverzicht
            </NavLink>
        </li>
        <li class="nav__list__item">
            <NavLink class="nav__list__item__link" href="student-details">
                Cursisten Opzoeken
            </NavLink>
        </li>
        <li class="nav__list__item">
            <NavLink class="nav__list__item__link" href="import-courses">
                Cursussen Invoeren
            </NavLink>
        </li>
    </ul>
</nav>